doctype html
html
    head
    body
        input(type="password" name="inpPwd" data-js=`${ 5 > 2 ? "OK" : "NOT OK" }`)


        - const myClasses = ["class1", "class2", "class3"]
        div.my-div(class = myClasses)